html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f5e6ff;
}

header,
footer {
    background-color: #7C4B9A;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 0.4em;
}

h1,
nav,
nav a,
footer {
    color: white;
}

nav {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    flex-wrap: wrap; 
}

nav a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 0.3em;
}

nav a:hover {
    background-color: white;
    color: purple;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

main {
    margin: 0em 2em 0em;
}

form.input {
    width: 20em;
}

form {
    padding-top: 1em;
}

